body {
  background-color: #6db3f2;
  background-image: url("images/beach-scene.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

#island-title {
  display: block;
  margin: auto;
  width: 800px;
  top: 0;
}

#corner-palm-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: auto;
}

#corner-palm-2 {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: auto;
}

.gelli-meme {
  width: 450px;
  height: auto;
}

#logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 150px;
  z-index: 2;
}

#logo:hover {
  cursor: default;
  transform: rotate(1080deg);
  transition: ease-in 0s, ease-out 1s;
}

.gelli-container {
  margin: auto;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}
