body {
   
}

#palm-tree {
  position: absolute;
  bottom: 10%;
  right: -400px;
  width: 1000px;
  top: 0%;


    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {top:0px;}

    50%  {top:50px;}

    100% {top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {top:0px;}

    50%  {top:50px;}

    100% {top:0px;}
}
}
