@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,600');

body {
  min-height: 100vh;
  background: rgb(255, 255, 0);
  background: linear-gradient(#39f, #ff0);
  background: linear-gradient(
    to right,
    rgba(255, 255, 0, 1) 0%,
    rgba(51, 153, 255, 1) 100%
  );
  font-family: 'Dosis', sans-serif;
}

#chatroom {
  position: fixed;
  top: -5px;
  left: 0;
}

#index-logo {
  position: fixed;
  bottom: 0px;
  right: 10px;
  width: 250px;
  height: auto;
}

#index-logo:hover {
  cursor: default;
  transform: rotate(1080deg);
  transition: ease-in 0s, ease-out 1s;
}

#index-title {
  position: fixed;
  top: -10px;
  right: 20px;
  height: 250px;
  width: auto;
  z-index: 0;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.artist-names {
  position: fixed;
  font-size: 50px;
  height: 100vh;
  color: #ffff00;
  right: 100px;
  padding-top: 30vh;
  z-index: 1;
  text-align: right;
  text-shadow: 0 0 25px rgb(205, 5, 255), 2px 2px #ff0000;
}

.artist-names p {
  margin: 10px;
}

.artist-names .info {
  margin-top: 10%;
  background: rgba(255, 255, 255, 0.25);
  font-size: 16px;
  padding: 10px;
}

#clock-1 {
  position: fixed;
  left: 145px;
  width: 200px;
  height: auto;
  z-index: -2;
  top: -50px;
}

#clock-2 {
  position: fixed;
  left: 25px;
  width: 200px;
  height: auto;
  z-index: 1;
  top: 100px;
}

#clock-3 {
  position: fixed;
  left: -25px;
  width: 200px;
  height: auto;
  z-index: -3;
  top: 275px;
}

#clock-4 {
  position: fixed;
  left: 25px;
  width: 200px;
  height: auto;
  z-index: -1;
  top: 450px;
}

#clock-5 {
  position: fixed;
  left: 50px;
  width: 200px;
  height: auto;
  z-index: 1;
  top: 600px;
}

#clock-6 {
  position: fixed;
  left: -15px;
  width: 200px;
  height: auto;
  z-index: -2;
  bottom: -50px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 4s linear infinite;
}

#palm-tree {
  position: fixed;
  width: 800px;
  height: auto;
  right: -100px;
  top: 20%;
  opacity: 0.8;
  z-index: -2;
}

#jordan-headshot {
  position: fixed;
  height: 500px;
  width: auto;
  top: 20%;
  left: 50px;
}

a:link {
  color: #ffff00;
  text-decoration: none;
}

a:visited {
  color: #ffff00;
  text-decoration: none;
}

a:hover {
  color: hotpink;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

#slime {
  position: absolute;
  z-index: -2;
  top: 20px;
  right: 0;
  width: 600px;
  height: auto;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.popup {
  margin: 10% auto;
  padding: 20px;
  background: rgb(255, 238, 0);
  border-radius: 5px;
  width: 80%;
  max-height: 75%;
  overflow: scroll;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'Dosis', Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.overlay {
}

.content {
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

.mouse-animate {
  position: fixed;
  width: 200px;
  height: auto;
  animation-name: running-mouse;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes running-mouse {
  0% {
    left: -200px;
    top: 0px;
  }
  5% {
    left: 1000px;
    top: 10px;
  }
  10% {
    left: 1000px;
    top: 200px;
  }
  15% {
    left: 500px;
    top: 5000px;
  }
  20% {
    right: -200px;
    top: 4500px;
  }
  25% {
    right: 300px;
    top: 2500px;
  }
  30% {
    right: 1000px;
    top: 100px;
  }
  35% {
    left: 200px;
    top: 200px;
  }
  40% {
    left: 2200px;
    top: 1200px;
  }
  45% {
    left: 1200px;
    top: 500px;
  }
  50% {
    left: 500px;
    top: 1200px;
  }
  55% {
    left: 200px;
    top: 500px;
  }
  60% {
    left: 1300px;
    top: 1300px;
  }
  65% {
    left: 500px;
    top: 500px;
  }
  70% {
    left: 700px;
    top: 700px;
  }
  75% {
    left: 900px;
    top: 1000px;
  }
  80% {
    left: 1000px;
    top: 500px;
  }
  85% {
    left: 500px;
    top: 500px;
  }
  90% {
    left: 1000px;
    top: 1000px;
  }
  95% {
    left: 1200px;
    top: 800px;
  }
  100% {
    left: -200px;
    top: 0px;
  }
}
