@import url('https://fonts.googleapis.com/css?family=Dosis:500,600');

body {
  background: #111;
  color: white;
  font-family: 'Dosis', Tahoma, Arial, sans-serif;
}

.text {
  max-width: 600px;
  padding: 0 20px;
  margin: auto;
}

.subtitle {
  font-size: 20px;
}

a {
  color: inherit;
}

#logo {
  width: 150px;
}

#logo:hover {
  cursor: default;
  transform: rotate(1080deg);
  transition: ease-in 0s, ease-out 1s;
}
