html {
}

body {
  width: 100%;
  background: linear-gradient(black, white);
  );
}

.jordan-text {
  position: absolute;
  font-size: 20px;
  width: 60%;
  height: 100%;
  top: 20%;
  left: 20%;
}

#jordan-text-header {
  text-align: center;
  font-size: 50px;
}

#jordan-text-body {
  	height: inherit;
	background: inherit;
	-webkit-background-clip: text;
					background-clip: text;
	color: transparent;

	filter: invert(1) grayscale(1) contrast(9);
  /* filter: invert(1) grayscale(1) contrast(9); */
}

#jordan-image-1 {
  float: left;
  width: 200px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;

  	filter: invert(1) grayscale(1) contrast(10);
}

#jordan-image-2 {
  float: right;
  width: 200px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 0 0 10px #ffffff;
}

#jordan-image-3 {
  float: right;
  width: 200px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 0 0 10px #ffffff;
}

#logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 150px;
}

#logo:hover {
  cursor: default;
  transform: rotate(1080deg);
  transition: ease-in 0s, ease-out 1s;
}

#jordan-footer {
  position: absolute;
  bottom: 0;
}
