body {
  background: #111;
  color: white;
}

.text {
  max-width: 600px;
  padding: 0 20px;
  margin: auto;
  text-align: justify;
}

.subtitle {
  font-size: 20px;
}

a {
  color: inherit;
}

#logo {
  width: 150px;
}

#logo:hover {
  cursor: default;
  transform: rotate(1080deg);
  transition: ease-in 0s, ease-out 1s;
}
