#logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 150px;
}

#logo:hover {
  cursor: default;
  transform: rotate(1080deg);
  transition: ease-in 0s, ease-out 1s;
}

.video {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
