html,
body {
  margin: auto;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
